html{  
    width: 100%;
      height: 100%;
      background-color: rgba(8,8,8,1.0);
  }


  
  ul{
      opacity: 0.22;
      height: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
  }
  
  li{
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      background: transparent;
      border: 10px solid rgb(251, 23, 23);
      border-left-color: transparent;
      border-right-color: transparent;
      border-radius: 600px;
      transition: all 0.5s ease;
  }
  
  li:last-child {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 20;
      width: 200px;
      height: 100px;
      margin-left: -110px;
      margin-top: -110px;
      padding: 70px 0px 30px;
      background-color: rgb(253, 253, 253);
      border: 10px solid rgb(218, 218, 218);
      border-radius: 200px;
      text-shadow: 2px 2px 0px rgb(187, 187, 187);
      box-shadow: 0px 0px 30px rgba(251, 23, 23, 0.5);
      animation: pulseShadow 5s infinite linear;
  }
  
  li:last-child:after{
      content:'';
      border: 3px dotted rgb(133, 133, 133);
      border-radius: 200px;
      width: 200px;
      height: 200px;
      display: block;
      position: absolute;
      top:-3px;
      left:-3px;
      background-color: transparent;
      box-shadow: inset 0px 0px 30px rgb(255, 255, 255);
  }
  
  li:first-child{
      margin-left: -130px;
      margin-top: -130px;
      z-index: 2;
      width: 240px;
      height: 240px;
      border-width: 10px;
      animation: spinBG 5s infinite linear;
  }
  
  li:nth-child(2){
      margin-left: -137px;
      margin-top: -137px;
      z-index: 1;
      width: 270px;
      height: 270px;
      border-width: 2px;
      border-style: dotted;
      box-shadow: 0px 0px 20px rgba(251, 23, 23, 0.5);
      animation: spinBG2 2s infinite linear;
  }
  
  li:nth-child(3){
      margin-left: -150px;
      margin-top: -150px;
      z-index: 1;
      width: 296px;
      height: 296px;
      border-width: 2px;
      box-shadow: inset 0px 0px 25px rgb(251, 23, 23);
      animation: spinBG 12s infinite linear;
  }
  
  li:nth-child(4){
      margin-left: -170px;
      margin-top: -170px;
      z-index: 1;
      width: 330px;
      height: 330px;
      border-width: 5px;
      border-style: solid;
      box-shadow: inset 0px 0px 25px rgb(251, 23, 23);
      animation: spinBG3 8s infinite linear;
  }
  
  
  /*-------------------------------------------
   Animations
  -------------------------------------------*/
  @keyframes pulseGlow{
      0%  {text-shadow: 0px 0px 20px rgba(251, 23, 23, 0.75);}
      50% {text-shadow: 0px 0px 40px rgba(251, 23, 23, 0.5); }
      100%{text-shadow: 0px 0px 20px rgba(251, 23, 23, 0.75);}		
  }
  
  @keyframes pulseShadow{
      0%  {box-shadow: 0px 0px 30px rgba(251, 23, 23, 0.25);}
      50% {box-shadow: 0px 0px 30px rgba(251, 23, 23, 0.75);}
      100%{box-shadow: 0px 0px 30px rgba(251, 23, 23, 0.25);}		
  }
  
  @keyframes spinBG{
      0%  {transform: rotate(0deg);}
      100%{transform: rotate(360deg);}	
  }
  
  @keyframes spinBG2{
      0%{
          transform: rotate(360deg);
          box-shadow: 0px 0px 1px rgba(251, 23, 23, 0.5);
      }
      50%{
          transform: rotate(180deg);
          box-shadow: 0px 0px 20px rgba(251, 23, 23, 0.5);
      }
      100%{
          transform: rotate(0deg);
          box-shadow: 0px 0px 1px rgba(251, 23, 23, 0.5);
      }	
  }
  
  @keyframes spinBG3{
      0%{
          transform: rotate(180deg);
          box-shadow: 0px 0px 1px rgba(251, 23, 23, 0.1);
      }
      50%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(-180deg);
      }	
  }
















/* ------------------------------------------------------------------ */
/* Typography
/* ------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
 font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

	
/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */

header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
 width: 100%;
	height: 100vh;
    
	
}

.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
}

.title h1 {
	color: #adacac;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-size: 180px;
}

.title p {
	color: #adacac;
	text-transform: lowercase;
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	left: 0;
	width: 100%;
}

@media only screen and (max-width:1200px) {
    .title h1 {
        font-size: 90px;
    }
    
    .title p {
        font-size: 20px;
    }
    
    }

    
@media only screen and (max-width:768px) {
.title h1 {
	font-size: 40px;
}

.title p {
	font-size: 20px;
}

}
